[submodule "pages/SuperCaveBoy"]
	path = pages/SuperCaveBoy
	url = https://github.com/Guo-Haowei/SuperCaveBoy.git
[submodule "pages/TurnBasedGame"]
	path = pages/TurnBasedGame
	url = https://github.com/Guo-Haowei/TurnBasedGame.git
