<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!--tab icon-->
    <!-- <link rel="icon" type="image/png" href="images/avatar.png"> -->
    <title>Haowei Guo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
        href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <style>
    </style>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body ng-app="Portfolio" ng-controller="appCtrl">

    <script src="scripts/controller.js"></script>

    <!-- First Parallax Image with Logo Text -->
    <div class="bgimg-1 w3-opacity w3-display-container">
        <div class="w3-display-middle">
            <!-- <div class="w3-display-middle" style="white-space:nowrap;"> -->
            <br />
            <br />
            <div class="w3-center">
                <img src="images/Logo.png" id="logo">
            </div>
            <br>
            <br>
            <div class="w3-content w3-container" id="about">
                <!-- <div class="w3-display-middle w3-center" style="white-space:nowrap; font-size:150%; color:white" id="typedtext"></div> -->
                <div class="w3-center" style="white-space:nowrap; font-size:150%; color:white" id="typedtext"></div>
            </div>
        </div>
    </div>

    <!-- Page Container -->
    <div class="w3-container w3-content w3-light-grey" style="max-width:1400px">
        <div class="row w3-padding-32">
            <!-- Left Column -->
            <div class="col-sm-3" style="float: left;">
                <!-- Profile -->
                <div class="w3-card-2 w3-round w3-white">
                    <div class="w3-container">
                        <p class="w3-center">
                            <img src="images/profile.png" style="height:240px;margin-top:10%;" alt="Profile">
                        </p>
                        <hr>
                        <p> I am interested in </p>
                        <p><b> Computer Graphics </b></p>
                        <p><b> Compiler Construction </b></p>
                        <p><b> Game Development </b></p>
                        <br>
                        <p><i class="fa fa-github fa-fw w3-margin-right w3-text-theme"></i><a
                                href="https://github.com/Guo-Haowei">Github</a></p>
                        <p><i class="fa fa-linkedin fa-fw w3-margin-right w3-text-theme"></i><a
                                href="https://ca.linkedin.com/in/haowei-guo-b25192128">Linkedin</a></p>
                        <p><i class="fa fa-youtube fa-fw w3-margin-right w3-text-theme"></i><a
                                href="https://www.youtube.com/channel/UCe1cR8HuNkIZE65YYYClDFQ">Youtube</a></p>
                    </div>
                </div>
                <br>
            </div>
            <!-- End Left Column -->

            <!-- Container (About Section) -->
            <!-- <div class="col-sm-12"> -->
            <div class="col-sm-9" style="float: right;">
                <!-- text -->
                <!-- Filter -->
                <header class="w3-container" id="myPortfolio">
                    <h1 class="w3-center"> Portfolio </h1>
                </header>

                <!-- Grid-->
                <div class="row w3-section w3-padding-16 w3-center">
                    <div id="port" ng-repeat="x in currentPort">
                        <div class="row">
                            <div class="col-sm-4 card" ng-if="x.length >= 1">
                                <a href="{{x[0].href}}"><img ng-src="images/{{x[0].img}}" style="width:100%"
                                        class="w3-hover-opacity w3-margin-top"></a>
                                <br><br>
                                <div class="w3-container w3-padding-16 w3-white w3-card-2 w3-round">
                                    <h4 style="text-align:center"><b>{{x[0].title}}</b></h4>
                                    <p>{{x[0].body}}</p>
                                </div>
                            </div>
                            <div class="col-sm-4 card" ng-if="x.length >= 2">
                                <a href="{{x[1].href}}"><img ng-src="images/{{x[1].img}}" style="width:100%"
                                        class="w3-hover-opacity w3-margin-top"></a>
                                <br><br>
                                <div class="w3-container w3-padding-16 w3-white w3-card-2 w3-round">
                                    <h4 style="text-align:center"><b>{{x[1].title}}</b></h4>
                                    <p>{{x[1].body}}</p>
                                </div>
                            </div>
                            <div class="col-sm-4 card" ng-if="x.length >= 3">
                                <a href="{{x[2].href}}"><img ng-src="images/{{x[2].img}}" style="width:100%"
                                        class="w3-hover-opacity w3-margin-top"></a>
                                <br><br>
                                <div class="w3-container w3-padding-16 w3-white w3-card-2 w3-round">
                                    <h4 style="text-align:center"><b>{{x[2].title}}</b></h4>
                                    <p>{{x[2].body}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
                <!-- <div class="row w3-section w3-padding-16 w3-center">
                    <ul class="w3-pagination">
                        <li><a class="w3-hover-black" href="#myPortfolio" ng-click="setPage(currentPage-1>=0?currentPage-1:totalPage-1)"><i class="fa fa-angle-left"></i></a></li>
                        <li><a id="p0" href="#myPortfolio" class="w3-black" ng-click="setPage(0)">1</a></li>
                        <li><a id="p1" href="#myPortfolio" class="w3-hover-black" ng-click="setPage(1)">2</a></li>
                        <li><a id="p2" href="#myPortfolio" class="w3-hover-black" ng-click="setPage(2)">3</a></li>
                        <li><a id="p3" href="#myPortfolio" class="w3-hover-black" ng-click="setPage(3)">4</a></li>
                        <li><a class="w3-hover-black" href="#myPortfolio" ng-click="setPage(currentPage+1<totalPage?currentPage+1:0)"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div> -->


            </div>
        </div>

    </div>

    <!-- Second Parallax Image with Portfolio Text -->
    <div class="bgimg-2 w3-display-container">
        <div class="w3-display-middle">
            <span class="w3-xxlarge w3-text-light-grey w3-wide">CONTACT</span>
        </div>

        <!-- Footer -->
        <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center" id="myContact">
            <br><br>
            <!-- <a class="w3-btn-floating w3-teal" href="mailto:ghwhotline@gmail.com"><i class="fa fa-envelope"></i></a> -->
            <a class="w3-btn-floating w3-teal" href="https://github.com/Guo-Haowei"><i class="fa fa-github"></i></a>
            <a class="w3-btn-floating w3-teal w3-hide-small" href="https://ca.linkedin.com/in/haowei-guo-b25192128"><i
                    class="fa fa-linkedin"></i></a>
            <a class="w3-btn-floating w3-teal w3-hide-small"
                href="https://www.youtube.com/channel/UCe1cR8HuNkIZE65YYYClDFQ"><i class="fa fa-youtube"></i></a>
        </footer>
    </div>

    <script src="scripts/animation.js"></script>
</body>

</html>